@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Montserrat", sans-serif;
}

@theme{
  --color-primary: #ff6347;
  --color-primary-light: #ff7f50;
  --color-primary-dull: #cd5c5c;
  --color-secondary: #4682b4;
  --color-secondary-light: #87cefa;
}